<tbody class="tableCarbonifera">
    <tr class="nivel1">
        <td>1.3 Producción Carbonífera <i class="fas fa-caret-left"></i></td>
        <td align="center"><img src="@Url.Content("~")Assets/images/circle.jpg"/></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="nivel2">
        <td>a. Producción Obtenida</td>
        <td align="center"><img src="@Url.Content("~")Assets/images/exclamation.jpg"/></td>
        <td></td>
        <td>08/01/2019</td>
    </tr>
    <tr class="nivel2">
        <td>b. Destino</td>
        <td align="center"><img src="@Url.Content("~")Assets/images/circle.jpg"/></td>
        <td></td>
        <td>08/01/2019</td>
    </tr>
</tbody>
