<div class="tab-pane" id="list-CarbObtInfo" role="tabpanel" aria-labelledby="list-CarbObtInfo-list">
    <div class="topContent">
        <button id="CarbObtInfo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Agregar Nuevo Recurso Extraído</button>
        <p class="CheckBox">Si no tiene información para declarar, seleccione esta opción<input type="checkbox" name="conInformacion" value="conInformacion"></p>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cod. Concesión</th>
                    <th scope="col">Nombre Concesión</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Recurso Extraído</th>
                    <th scope="col">Procedencia</th>
                    <th scope="col">Cantidad (TM)</th>
                    <th scope="col">Valor US$</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
