<div class="tab-pane" id="list-seguConcesiones" role="tabpanel" aria-labelledby="list-seguConcesiones-list">
    <table class="depth1 table">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Sutancia</th>
                <th scope="col">Sutancia</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de Actualización</th>
            </tr>
        </thead>
        <tbody class="depth1">
            <tr>
              <td>456</td>
              <td>1. Andean 25-07</td>
              <td>Concesión (D.LEG. 708)</td>
              <td>Metálica</td>
              <td>Explotación</td>
              <td><i class="fas fa-exclamation-triangle"></i> Incompleto</td>
              <td>08/01/2019</td>
            </tr>
            <tr>
              <td>456</td>
              <td>2. China Linda</td>
              <td>Unidad Económica Administrativa</td>
              <td>No Metálica</td>
              <td>Explotación</td>
              <td>Sin Datos</td>
              <td>08/01/2019</td>
            </tr>
            <tr>
              <td>456</td>
              <td>3. Uchucchacua</td>
              <td>Unidad Económica Administrativa</td>
              <td>Metálica</td>
              <td>Explotación</td>
              <td><i class="fas fa-exclamation-triangle"></i> Incompleto</td>
              <td>08/01/2019</td>
            </tr>
            <tr>
              <td>456</td>
              <td>4. Uchucchacua2</td>
              <td>Unidad Económica Administrativa</td>
              <td>Metálica</td>
              <td>Explotación</td>
              <td><i class="fas fa-exclamation-triangle"></i> Incompleto</td>
              <td>08/01/2019</td>
            </tr>
            <tr>
              <td>456</td>
              <td>5. El Sol N°3</td>
              <td>Concesión (D.LEG. 109 y anteriores)</td>
              <td>No Metálica</td>
              <td>Explotación</td>
              <td><i class="fas fa-check"></i> Completo</td>
              <td>08/01/2019</td>
            </tr>
        </tbody>
    </table>
﻿</div>
@Html.Partial("~/Views/Home/Seguridad/DetalleConcesion.cshtml")
@Html.Partial("~/Views/Home/Seguridad/Partials.cshtml")
