<tbody class="tableNoMetalica">
    <tr>
        <td>1.2 Producción Minería No Metálica</td>
        <td align="center"><img src="@Url.Content("~")Assets/images/exclamation.jpg"/></td>
        <td>Falta completar datos</td>
        <td></td>
    </tr>
</tbody>
