<div class="tab-pane" id="list-NoMetaObtInfo" role="tabpanel" aria-labelledby="list-NoMetaObtInfo-list">
    <div class="topContent">
        <button id="NoMetaObtInfo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Agregar Nuevo Recurso Extraído</button>
        <p class="CheckBox">Si no tiene información para declarar, seleccione esta opción <input type="checkbox" name="conInformacion" value="conInformacion"></p>﻿
    </div>﻿
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cod. Concesión</th>
                    <th scope="col">Nombre Concesión</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Recurso Extraído</th>
                    <th scope="col">Procedencia</th>
                    <th scope="col">Cantidad Extraída</th>
                    <th scope="col">Producto Final</th>
                    <th scope="col">Cantidad Producto Final (TM)</th>
                    <th scope="col">Valor Producto Final (US$)</th>
                    <th scope="col">Destino Producto Final</th>
                    <th scope="col">País Destino</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4899659</td>
                    <td>Andean 25-07</td>
                    <td>Puno</td>
                    <td>Lampa</td>
                    <td>Palca</td>
                    <td>Mineral Polimetálico</td>
                    <td>Propio</td>
                    <td><input class="textInput" type="text" name="cantExtr" value=""></td>
                    <td><input class="textInput" type="text" name="prodFin" value=""></td>
                    <td><input class="textInput" type="text" name="cantProdFin" value=""></td>
                    <td><input class="textInput" type="text" name="valProdFin" value=""></td>
                    <td>Circuito de producción</td>
                    <td></td>
                    <td><button type="button" class="btn" name="button">Editar</button><button type="button" class="btn" name="button">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>﻿
