<div class="tab-pane" id="list-NoMetaObtForm" role="tabpanel" aria-labelledby="list-MetaRefiObtForm-list">
    <div class="content">
        <div class="row">
            <div class="col-sm-6">
                <table class="contentTableLeft table">
                    <tbody>
                        <tr>
                            <th>Unidad Minera</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        5962896 Chaupiloma 47
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Distrito</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        (Seleccione Distrito)
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Procedencia</th>
                            <td class="d-flex justify-content-around"><div><input type="radio" name="procedencia" value="propio"> Propio</div> <div><input type="radio" name="procedencia" value="comprado"> Comprado </div></td>
                        </tr>
                        <tr>
                            <th>Destino Producto Final</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>País de Destino</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Recurso Extraído</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Cantidad Extraída</th>
                            <td><input class="textInput" type="text" name="cantExtr" value=""></td>
                        </tr>
                        <tr>
                            <th>Producto Final</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Cantidad Producto Final</th>
                            <td><input class="textInput" type="text" name="cantProdFin" value=""></td>
                        </tr>
                        <tr>
                            <th>Valor Producto Final</th>
                            <td><input class="textInput" type="text" name="valProdFin" value=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="contentTableRight table">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th>Cantidad (TM)</th>
                            <th>Valor (US$)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Agosto</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Julio</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Junio</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Mayo</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Abril</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Grabar</button>
        <button type="button" class="btn" name="button">Regresar sin grabar</button>
    </div>
</div>
