<div class="tab-pane" id="list-info1" role="tabpanel" aria-labelledby="list-info1-list">
    <div class="warning d-flex align-items-center">
        <img src="@Url.Content("~")Assets/images/exclamation.jpg"/>
        <ul class="yellowBullet">
            <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación con el trabajo, en el que la persona afectada no sufre lesiones corporales</li>
        </ul>
    </div>﻿
    <div class="content">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>Nombre del titular de la actividad minera</th>
                    </tr>
                    <tr>
                        <td>Minera Yanacocha S.R.L</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>Dirección</th>
                    </tr>
                    <tr>
                        <td>Minera Yanacocha S.R.L</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>Región-Provincia-Distrito</th>
                    </tr>
                    <tr>
                        <td>Minera Yanacocha S.R.L</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <table class="table">
                    <tr>
                        <th>Teléfono</th>
                    </tr>
                    <tr>
                        <td>123456789</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <table class="table">
                    <tr>
                        <th>Fax</th>
                    </tr>
                    <tr>
                        <td>123456789</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>Minera Yanacocha S.R.L</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>RUC</th>
                    </tr>
                    <tr>
                        <td>Minera Yanacocha S.R.L</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>Página Web</th>
                    </tr>
                    <tr>
                        <td>Minera Yanacocha S.R.L</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">Estrato (Al 20/20/2018)</li>
                    <li class="list-inline-item">Régimen General</li>
                </ul>
            </div>
        </div>
        <p class="subtitle2">Inscripción de los Registros Públicos</p>
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-inline">
                    <li class="list-inline-item">Fecha de Inscripción</li>
                    <li class="list-inline-item">20/20/2018</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-inline">
                    <li class="list-inline-item">Número de Titulo</li>
                    <li class="list-inline-item">123456789</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-inline">
                    <li class="list-inline-item">Oficina Registral</li>
                    <li class="list-inline-item">Lima</li>
                </ul>
            </div>
        </div>
        <p class="subtitle2">Representante Legal</p>
        <div class="row">
            <div class="col-sm-6">
                <p>Seleccione representante legal de los acreditados en el MEM:</p>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="btn-lg dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p>**Si quiere agregar un representante legal o actualizar los datos de un representante existente, debe presentar una carta a través de la Oficina de caja Trámite del Ministerio de Energía y Minas</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th colspan="3">Nombres</th>
                    </tr>
                    <tr>
                        <td>Ap. Paterno <input class="textInput" type="text" name="paterno" value=""/></td>
                        <td>Ap. Materno <input class="textInput" type="text" name="materno" value=""/></td>
                        <td>Nombres <input class="textInput" type="text" name="nombes" value=""/></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <th colspan="3">Cargo</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <th colspan="3">Documento</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DNI
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <th colspan="3">Email</th>
                    </tr>
                    <tr>
                        <td>Email</td>
                    </tr>
                </table>
            </div>
        </div>
        <p class="subtitle2">Responsable de absolver consultas sobre la presente declaración</p>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th colspan="3">Nombres</th>
                    </tr>
                    <tr>
                        <td>Ap. Paterno <input class="textInput" type="text" name="paterno" value=""/></td>
                        <td>Ap. Materno <input class="textInput" type="text" name="materno" value=""/></td>
                        <td>Nombres <input class="textInput" type="text" name="nombes" value=""/></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <th colspan="3">Cargo</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <th colspan="3">Documento</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DNI
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <th colspan="3">Email</th>
                    </tr>
                    <tr>
                        <td>Email</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
