<div class="tab-pane" id="list-info2" role="tabpanel" aria-labelledby="list-info2-list">
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Sustancia</th>
                    <th scope="col">Situación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Acumulación Chaquicocha</td>
                    <td>010000710L</td>
                    <td>Concesión</td>
                    <td>Metálica</td>
                    <td><div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cierre Post-Cierre (Definitivo)
                        </button>
                        <div class="dropdown-menu">
                            <!-- Dropdown menu links -->
                        </div>
                    </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
