<div class="tab-pane" id="list-info3" role="tabpanel" aria-labelledby="list-info3-list">
    <div class="warning d-flex align-items-center">
        <i class="fas fa-exclamation-triangle"></i>
        <ul class="yellowBullet">
            <li>La información requerida debe explicar las variaciones en la producción respecto de meses anteriores y/o
                del mismo mes del año anterior, como por ejemplo mantenimiento, paralización por lluvias, paralización para
                realizar inversiones, ampliación de planta, huelga de trabajadores, entre otras. Asimismo, información que
                afecta el desempeño de la empresa también influye nuevas medidas de prevención de accidentes, cambio de medidas
                de seguridad, planes de inversión futuros de la empresa, entre otros.
            </li>
        </ul>
    </div>﻿
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Hechos que afectan la declaración</th>
            </tr>
        </thead>
    </table>
    <p>Quedan 100 caracteres (1000 máximo)</p>
</div>﻿
