<div class="tab-pane" id="list-info4" role="tabpanel" aria-labelledby="list-info4-list">
    <div class="warning d-flex align-items-center">
        <img src="@Url.Content("~")Assets/images/exclamation.jpg"/>
        <ul class="yellowBullet">
            <li>Solo marcar las concesiones de la U.E.A, que se encuentren extrayendo el mineral. Es necesario
                se precise el dato para determinar el tajo de la explotación</li>
        </ul>
    </div>﻿
    <table class="table">
        <thead>
            <tr>
                <th rowspan="2" scope="col">Código</th>
                <th rowspan="2" scope="col">Nombre</th>
                <th rowspan="2" scope="col">Tipo</th>
                <th rowspan="2" scope="col">Sustancia</th>
                <th colspan="2" scope="col">Conceciones</th>
            </tr>
            <tr>
                <th scope="col">Concesión</th>
                <th scope="col">En Explotación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>010149393</td>
                <td>Anna Gabrielle Diez</td>
                <td>Concesión (D.LEG. 708)</td>
                <td>Metálica</td>
                <td>010149393-Chaupiloma 60</td>
                <td><input type="checkbox" name="explotacion"/></td>
            </tr>
        </tbody>
    </table>
</div>﻿
