<div class="tab-pane" id="list-MetaConcObtInfo" role="tabpanel" aria-labelledby="list-MetaConcObtInfo-list">
    <div class="topContent">
        <div class="warning d-flex align-items-center">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg"/>
            <ul class="yellowBullet">
                <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación con el trabajo, en el que la persona afectada no sufre lesiones corporales</li>
            </ul>
        </div>
        <button id="MetaConcObtInfo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Agregar Nuevo Recurso Extraído</button>
        <p class="CheckBox">Si no tiene información para declarar, seleccione esta opción <input type="checkbox" name="conInformacion" value="conInformacion"></p>﻿
    </div>﻿
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tipo de Concentrado</th>
                    <th scope="col">Procedencia</th>
                    <th scope="col">Cantidad (TM)</th>
                    <th scope="col">Valor US$</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
﻿
