<div class="tab-pane" id="list-MetaExtrObtInfo" role="tabpanel" aria-labelledby="list-CarbProdDestForm-list">
    <div class="topContent">
        <button id="MetaExtrObtInfo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Agregar Nuevo Recurso Extraído</button>
        <p class="CheckBox">Si no tiene información para declarar, seleccione esta opción <input type="checkbox" name="conInformacion" value="conInformacion"></p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th rowspan="2">Cod. Concesión</th>
                <th rowspan="2">Nombre Concesión</th>
                <th rowspan="2">Departamento</th>
                <th rowspan="2">Provincia</th>
                <th rowspan="2">Distrito</th>
                <th rowspan="2">Recurso Extraído</th>
                <th rowspan="2">Procedencia</th>
                <th rowspan="2">Productor Artesanal</th>
                <th rowspan="2">Cantidad (TM)</th>
                <th colspan="3">Leyes</th>
                <th rowspan="2" colspan="2"></th>
            </tr>
            <tr>
                <th>%Cu</th>
                <th>Ag (Oz/Tc)</th>
                <th>Ag (Oz/Tc)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4899659</td>
                <td>Adean 25-07</td>
                <td>Puno</td>
                <td>Lampa</td>
                <td>Palca</td>
                <td>Mineral Polimetálico</td>
                <td>Propio</td>
                <td></td>
                <td>10000</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        </tbody>
    </table>
</div>
