<tbody class="tableMetalica">
    <tr class="nivel1">
        <td>1.1 Producción Minería Metálica.</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="nivel2">
        <td>a. Extracción</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="nivel3">
        <td data-value="1.1 Producción Minería Metálica_a. Extracción_Extracción Obtenida">Extracción Obtenida (en TM)</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel3">
        <td>Destino de Minerales Extraído</td>
        <td align="center"><img src="@Url.Content("~")Assets/images/exclamation.jpg"/></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel2">
        <td>b. Concentración</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="nivel3">
        <td>Concentrados Obtenidos</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel3">
        <td>Destinos de los Concentrados</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel2">
        <td>c. Fundición</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="nivel3">
        <td>Producción Obtenida</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel3">
        <td>Destino</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel2">
        <td>d. Refinación</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="nivel3">
        <td>Producción Obtenida</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel3">
        <td>Destino</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
    <tr class="nivel3">
        <td>Inventarios</td>
        <td align="center"><i class="fas fa-check"></i></td>
        <td></td>
        <td align="center">08/01/2019</td>
    </tr>
</tbody>
