<div class="tab-pane" id="list-MetaRefiDestForm" role="tabpanel" aria-labelledby="list-MetaRefiDestForm-list">
    <div class="topContent">
        <div class="warning d-flex align-items-center">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg"/>
            <ul class="yellowBullet">
                <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación al trabajo.</li>
                <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación al trabajo.</li>
                <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación al trabajo.</li>
                <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación al trabajo.</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-sm-6">
                <table class="contentTableLeft table">
                    <tbody>
                        <tr>
                            <th>Producto</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Destino</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>País de Destino</th>
                            <td>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ---------------
                                    </button>
                                    <div class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Cantidad (TM)</th>
                            <td><input class="textInput" type="text" name="cantidad" value=""></td>
                        </tr>
                        <tr>
                            <th>Valor US$</th>
                            <td><input class="textInput" type="text" name="Valor" value=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="contentTableRight table">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th>Cantidad (TM)</th>
                            <th>Valor (US$)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Agosto</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Julio</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Junio</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Mayo</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>Abril</td>
                        <td>3000</td>
                        <td>3000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Grabar</button>
        <button type="button" class="btn" name="button">Regresar sin grabar</button>
    </div>
</div>
﻿
