<div class="tab-pane" id="list-SeguAnalisisInfo" role="tabpanel" aria-labelledby="list-SeguAnalisisInfo-list">
    <div class="topContent">
        <div class="warning">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg" />
            <ul class="yellowBullet">
                <li>
                    Un día perdido del mes anterior se origina cuando el trabajador que ha sufrido un accidente incapacitante
                    en el mes anterior todavía no se ha reincorporado y está generando días perdidos en el presente mes.
                </li>
            </ul>
        </div>
        <div class="warning">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg" />
            <ul class="yellowBullet">
                <li>No tiene información de accidentes incapacitantes del mes anterior.</li>
            </ul>
        </div>
    </div>﻿
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Grabar</button>
        <button type="button" class="btn" name="button">Regresar</button>
    </div>
</div>