<div class="tab-pane" id="list-SeguDiasPerdidosInfo" role="tabpanel" aria-labelledby="list-SeguDiasPerdidosInfo-list">
    <div class="topContent">
        <div class="warning">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg" />
            <ul class="yellowBullet">
                <li>Un accidente incapacitante es aquel suceso resultante en lesión(es) que, luego de la evaluación
                médica correspondiente, da lugar a descanso médico y tratamiento a partir del día siguiente de sucedido
                el accidente.</li>
                <li>El día de la ocurrencia de la lesión no se tomará en cuenta para fines de información estadística.</li>
            </ul>
        </div>
        <button id="SeguDiasPerdidosInfo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Agregar</button>
    </div>﻿
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre de la CIA, contratista minero o conexa</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Estado Civil</th>
                    <th scope="col">Grado de Instrucción</th>
                    <th scope="col">Años de Experiencia</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Día</th>
                    <th scope="col">Mes</th>
                    <th scope="col" colspan="4">Clasificación de Lesiones</th>
                    <th scope="col">Incapacidad</th>
                    <th scope="col">Ocupación (Tabla 3 de Anexo 31)</th>
                    <th scope="col">Remuneración S/</th>
                </tr>
                <tr>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th colspan="2" scope="col">Parcial Temporal y Total Temporal</th>
                    <th colspan="2" scope="col">Parcial Permanente y Total Permanente</th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                    <th rowspan="2" scope="col"></th>
                </tr>
                <tr>
                    <th>Tabla 6 de Anexo 31</th>
                    <th>Días Perdidos</th>
                    <th>Anexo 33</th>
                    <th>Días a Cargarse</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Regresar</button>
    </div>
</div>﻿
