<div class="tab-pane" id="list-SeguEstAccIncForm" role="tabpanel" aria-labelledby="list-SeguEstAccIncForm-list">
    <div class="topContent">
        <div class="warning">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg" />
            <ul class="yellowBullet">
                <li>Incidente: Suceso con potencial de pérdidas acaecido en el curso del trabajo o en relación con el trabajo, en el que la persona afectada no sufre lesiones corporales.</li>
            </ul>
        </div>
    </div>﻿
    <div class="content">
        <table class="table">
            <tbody>
                <tr>
                    <th>Tipo Cliente</th>
                    <td class="d-flex justify-content-around"><div><input type="radio" name="tipoCliente" value="titular"> Titular</div> <div><input type="radio" name="tipoCliente" value="cont_cone"> Empresa Contratista Minera o Conexa </div></td>
                </tr>
                <tr>
                    <th>Nombre de la Compañía, Contratista Minero o Conexa</th>
                    <td>
                        Lista <div class="btn-group dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ---------------
                                </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                </div>
                            </div><br />
                        RUC <input class="textInput" type="text" name="ruc" value="">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">Tipo de Incidentes (Tabla 10 de Anexo 31)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>(1)</b> Caída de Personas</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(2)</b> Caída de Objetos</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(3)</b> Desprendimiento de Rocas</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(4)</b> Choques contra o golpes por objetos durante el carguío y descarga de mineral/desmonte</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(5)</b> Choques contra o golpes por objetos durante la manipulación de metales</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(6)</b> Choques contra o atrapado en o golpes por vehículo motorizado (tránsito vehicular)</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(7)</b> Atrapado por o golpes por maquinarias en movimiento</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(8)</b> Atrapado en chutes o tolvas y otros durante desatoro</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(9)</b> Atrapado por succión de mineral/desmonte</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(10)</b> Atrapado por derrumbe, deslizamiento, soplado de mineral o desmonte</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(11)</b> Atrapado o golpes durante la perforación</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(12)</b> Golpes por objetos en detonación de explosivos</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(13)</b> Golpes por herramientas</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(14)</b> Exposición a, o contacto con temperaturas extremas</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(15)</b> Exposición a, o contacto con energía eléctrica</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(16)</b> Exposición a, o contacto con radiaciones</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(17)</b> Exposición a, o contacto con tormentas eléctricas (caída de rayo)</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(18)</b> Exposición a, o contacto con sustancias peligrosas</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(19)</b> Exposición a, o contacto por hinalación con gases tóxicos/asfixiantes (ventilación deficiente)</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(20)</b> Exposición a, o contacto por ingestión de alimentos (intoxicación)</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
                <tr>
                    <td><b>(21)</b> Esfuerzos excesivos o falsos movimientos</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                    <td><b>(22)</b> Otros</td>
                    <td><input class="textInput" type="text" name="ruc" value=""></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Grabar</button>
        <button type="button" class="btn" name="button">Regresar</button>
    </div>
</div>﻿
