<div class="tab-pane" id="list-SeguRegInfo" role="tabpanel" aria-labelledby="list-SeguRegInfo-list">
    <div class="topContent">
        <div class="warning">
            <img src="@Url.Content("~")Assets/images/exclamation.jpg"/>
            <ul class="yellowBullet">
                <li>Indique los distritos de los que ha obtenido el RECURSO EXTRAÍDO antidad por producto puede ser mayor solamente si se tenía una cantidad en stock del periodo anterior.</li>
                <li>La cantidad por producto puede ser mayor solamente si se tenía una cantidad en stock del periodo anterior</li>
            </ul>
        </div>
        <div class="buttons">
            <button id="SeguRegInfo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Nuevo</button>
            <button class="btn btn-primary" type="button" name="button">Descargar Plantilla</button>
            <button class="btn btn-primary" type="button" name="button">Adjuntar Plantilla</button>
        </div>
    </div>﻿
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre de la CIA, contratista minero o convexa</th>
                    <th scope="col">Empleados</th>
                    <th scope="col">Obreros</th>
                    <th scope="col">Total de trabajadores</th>
                    <th scope="col">Horas hombre trabajadas</th>
                    <th scope="col">Actividad minera Art. 2 reglamento</th>
                    <th colspan="2" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn" type="button" name="button"><i class="fas fa-pen"></i></button>
                    </td>
                    <td>
                        <button class="trash btn" type="button" name="button"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Regresar</button>
    </div>
</div>﻿
