<div class="tab-pane" id="list-SeguRepForm" role="tabpanel" aria-labelledby="list-SeguRepForm-list">
    <div class="content">
        <table class="table">
            <tbody>
                <tr>
                    <th>Tipo Cliente</th>
                    <td class="d-flex justify-content-around"><div><input type="radio" name="tipoCliente" value="titular"> Titular</div> <div><input type="radio" name="tipoCliente" value="cont_cone"> Empresa Contratista Minera o Conexa </div></td>
                </tr>
                <tr>
                    <th>Nombre de la Compañía, Contratista Minero o Conexa</th>
                    <td>Lista
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Código Único Asignado por el Titular Minero</th>
                    <td><input class="textInput" type="text" name="codigo" value="" /></td>
                </tr>
                <tr>
                    <th>Edad</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Mujer</a>
                                <a class="dropdown-item" href="#">Hombre</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Ocupación</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Años de Trabajo en Minería</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Agente Causal</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Agente Causante (Tabla 5 de Anexo 31)</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Diagnóstico</th>
                    <td>
                        <textarea name="diagnostico" rows="2"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>CIE 10 (Clasificación Internacional de Enfermedades)</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Médico (Apellidos y Nombres)</th>
                    <td><input class="textInput" type="text" name="medico" value="" /></td>
                </tr>
                <tr>
                    <th>CMP</th>
                    <td><input class="textInput" type="text" name="cmp" value="" /></td>
                </tr>
                <tr>
                    <th>Institución Calificadora</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Actividad Minera<br />Art. 2 Reglamento</th>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ---------------
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottomContent">
        <button type="button" class="btn" name="button">Grabar</button>
        <button type="button" class="btn" name="button">Regresar</button>
    </div>
</div>